body{
  font-family: 'Space Mono', monospace;
  font:'Space Mono', monospace;
  background-color:blanchedalmond;
}
table{
  color: saddlebrown;
  background-color:black;
}
h1, .h1 {
  color:goldenrod;
   font: 36px "Space Mono", monospace; font-weight: 700;
}
h2, .h2{
  font: 22px message-box;
  font-weight: 400;
}
.MarsPhoto :hover{
 transform: scale(1.5);
}